In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from seaborn) (2.3.5)
Requirement already satisfied: pandas>=1.2 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/lukepitstick/nyc-rent-prices/.venv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
df = pd.read_csv("../data/medianAskingRent_All.csv")

In [3]:
df.head()

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2025-02,2025-03,2025-04,2025-05,2025-06,2025-07,2025-08,2025-09,2025-10,2025-11
0,All Downtown,Manhattan,submarket,3200.0,3200.0,3015.0,3100.0,3100.0,3200.0,3195.0,...,5028.0,5000.0,5195.0,5250.0,5304.0,5450.0,5421.0,5350.0,5345.0,5350.0
1,All Midtown,Manhattan,submarket,2875.0,2800.0,2800.0,2850.0,2895.0,2950.0,3000.0,...,4595.0,4595.0,4695.0,4750.0,4850.0,4873.0,4800.0,4750.0,4695.0,4638.0
2,All Upper East Side,Manhattan,submarket,2450.0,2450.0,2400.0,2500.0,2565.0,2570.0,2595.0,...,3999.0,3995.0,4000.0,4150.0,4200.0,4200.0,4200.0,4200.0,4150.0,4250.0
3,All Upper Manhattan,Manhattan,submarket,1825.0,1800.0,1795.0,1800.0,1823.0,1850.0,1875.0,...,2877.0,2900.0,3000.0,3195.0,3243.0,3299.0,3225.0,3200.0,3190.0,3125.0
4,All Upper West Side,Manhattan,submarket,2895.0,2800.0,2750.0,2800.0,2800.0,2795.0,2800.0,...,4450.0,4500.0,4500.0,4500.0,4710.0,4795.0,4800.0,4800.0,4800.0,4800.0

In [8]:
downtown = df[df["areaName"] == "All Downtown"]
downtown.head()

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2025-02,2025-03,2025-04,2025-05,2025-06,2025-07,2025-08,2025-09,2025-10,2025-11
0,All Downtown,Manhattan,submarket,3200.0,3200.0,3015.0,3100.0,3100.0,3200.0,3195.0,...,5028.0,5000.0,5195.0,5250.0,5304.0,5450.0,5421.0,5350.0,5345.0,5350.0